/*
 */

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0 auto;
  color: #242424;
  /* padding: 40px; */
  border-top: 10px solid #242424;
  background: #fff;
  width: 75%;
}

.wakeup{
  background: no-repeat bottom / cover url('images/wakeup.jpeg');
  height: 700px;
  border-radius: 20px;
}

.coding{
  background: no-repeat bottom / cover url('images/coding.jpeg');
  height: 700px;
  border-radius: 20px;
}

.football{
  background: no-repeat bottom / cover url('images/football.jpeg');
  height: 700px;
  border-radius: 20px;
}

h1 {
  font-size: 3em;
  margin: 0;
}

.navigation {
  position: sticky;
  top: 0;
  color: #242424;
  padding: 1px;
  background-color: #fff;
}

.navigation ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

.navigation li {
  text-align: center;
  margin-right: 20px;
  flex: 1;
}

.navigation a {
  text-decoration: none;
  color: #242424;
}

.navigation a:hover {
  text-decoration: underline;
}

p {
  line-height: 1.4em;
}

#blog {
  border-top: 1px dotted #ccc; /* ui*/
}

article {
  border-bottom: 1px dotted #ccc;
}

.morning {
  
}

.work {

}

.life {

}

img {
  
}