html {
  background:#e3e3e3;

}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 40px;
  color: #242424;
  padding: 40px;
  border-top: 10px solid #242424;
  background: #fff;
}

h1 {
  font-size: 3em;
  margin: 0;
}

.navigation {
  position: sticky;
  top: 0;
  background-color: #333;
  color: #fff;
  padding: 15px;

}

.navigation ul {
  list-style: none;
  padding: 0;
  display: flex;
}

.navigation li {
  margin-right: 20px;
}

.navigation a {
  text-decoration: none;
  color: #fff;
}

.navigation a:hover {
  text-decoration: underline;
}

p {
  line-height: 1.4em;
}

#blog {
  border-top: 1px dotted #ccc; /* ui*/
}

article {
  border-bottom: 1px dotted #ccc;
}

.morning {
  
}

.work {

}

.life {

}

img {
  
}